*.user
*.userprefs
*.suo
/node_modules
*.bak
*.orig
/temp
/local
.vs
/app.js
/popup.js
/page.js
/panels.js
/settings.js
/dialogs/dialogs.js
/dist
/build
/common.d.ts
*.map
/common.js
/dialogs/NetworkAuth.js
/dialogs/SRP.js
