*.user
*.userprefs
*.suo
/node_modules
*.bak
*.orig
/temp
/local
.vs
/dist
/build
/typedefs/common.d.ts
*.map
.rpt2_cache/**/*
.DS_Store
.idea/
.vite-ssg-dist
.vite-ssg-temp
*.crx
*.local
*.log
*.pem
*.xpi
*.zip
dist-ssr
extension/
node_modules
src/auto-imports.d.ts
src/components.d.ts
