body {
    min-width: 700px;
    min-height: 550px;
    max-width: 1100px;
}

#settings {
    clear: left;
}

#siteModeChooser {
    margin: 10px 0px;
}

#siteActionButtons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 50px;
    float: left;
}
#siteAddButton, #siteEditButton, #siteDeleteButton {
    margin-left: 5px;
}

#siteChooserSearch {
    margin-bottom: 10px;
}

#siteChooserSearchResults {
    margin-top: -10px;
}

#siteChooser .dropdown {
    float: left;
}

#siteChooser label {
    margin-top: 6px;
    margin-right: 10px;
    float: left;
    font-weight: initial;
}

.panel-body > div {
    margin: 8px 0px;
}

.formSettingDropdown, .formSettingInput {
    margin-left: 10px;
    margin-right: 15px;
    flex: 1 0 auto;
}

.form-horizontal .formSettingGroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.formSettingLabel {
    text-align: right;
    margin-left: 15px;
}

fieldset.fix-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 20px 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.fix-border {
    font-size: 1.2em !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.grid {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: max-content 1fr;
}

.grid > label {
    grid-column-start: 1;
    font-weight: initial;
}

.grid > div {
    grid-column-start: 2;
}

#sitePropertiesModal {
    background-color: rgba(0,0,0,0.66);
}

#sitePropertiesContainer {
    display: grid;
    align-items: baseline;
    grid-gap: 15px;
}

#sitePropertiesContainer > label {
    grid-column-start: 1;
    justify-self: end;
    font-weight: initial;
    grid-column-end: 2;
}

#sitePropertiesContainer > input, #sitePropertiesContainer > div {
    grid-column-start: 2;
}

#sitePropertiesValueValidation {
    font-weight: bold;
    color: red;
}

#sitePropertiesTarget,
#sitePropertiesMethod {
    display: grid;
    align-items: baseline;
    grid-gap: 5px;
    justify-content: start;
}

#sitePropertiesTarget > label,
#sitePropertiesMethod > label {
    grid-column-start: 2;
    font-weight: initial;
}

#sitePropertiesTarget > input,
#sitePropertiesMethod > input {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
}

#sitePropertiesTarget > div,
#sitePropertiesMethod > div {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: start;
}
