body {
    min-width: 700px;
    min-height: 400px;
}

#settings {
    clear: left;
}

#siteModeChooser {
    margin: 10px 0px;
}

#siteAddButton, #siteEditButton {
    margin-bottom: 10px;
    margin-left: 50px;
    float: left;
}

#siteChooserSearch {
    margin-bottom: 10px;
}

#siteChooserSearchResults {
    margin-top: -10px;
}

#siteChooser .dropdown {
    float: left;
}

#siteChooser label {
    margin-top: 6px;
    margin-right: 10px;
    float: left;
    font-weight: initial;
}

.panel-body > div {
    margin: 8px 0px;
}

.formSettingDropdown, .formSettingInput {
    margin-left: 10px;
    margin-right: 15px;
    flex: 1 0 auto;
}

.form-horizontal .formSettingGroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.formSettingLabel {
    text-align: right;
    margin-left: 15px;
}

fieldset.fix-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 20px 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.fix-border {
    font-size: 1.2em !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.grid {
    display: grid;
    grid-gap: 10px;
    align-items: center;
}

.grid > label {
    grid-column-start: 1;
    justify-self: end;
    font-weight: initial;
}

.grid > div {
    grid-column-start: 2;
}
