.hidden {
    display: none;
}
.disabled {
    display: none;
}
.enabled {
    display: block !important;
}

body {
    width: 400px;
}

#connectionStatus {
    background: #eee;
    margin: 0px 0px 10px 0px;
}
#menu-items {
    margin-bottom: 0px !important;
}
#loading {
    margin-bottom: 0px !important;
}
#main {
    margin-bottom: 0px !important;
    border: none;
}
#notifications {
    position: relative;
}

#notifications > div {
    border: 1px solid #ddd;
    padding: 5px 15px 10px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #f5f5f5;
}

.close-button {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}

#searchResults {
    margin: 5px 0px 10px 0px;
    overflow-y:auto;
    max-height:280px;
}

#searchResults-Container {
    display: block;
    padding:0px;
    list-style:none;
    background:none;
    margin:0px 5px;
}

#searchResults-Container li
{
    min-height:26px;
    padding:0px 5px 0px 22px;
    margin:0px;
    background-repeat:no-repeat;
    background-position:2px 4px;
    background-size: 16px;
    cursor:default;
    line-height:26px;
    position:relative;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

#searchResults-Container li:active
{
    background-color: #E3E3E3;
    border: 1px solid #C6C6C7;
    border-radius: 3px;
}

#searchResults-Container li:hover
{
    background-color: #EAEAEA;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
}

/* Shade the item that has keyboard focus */
#searchResults-Container li:focus
{
    background-color: #DDDDDD;
}

#searchResults-Container li.login-item
{
    display:list-item;
    border-left-width:0px;
    border-right-width:0px;
    cursor: default;
}

#searchResults-Container li.login-item button {
    font-size: 0.9em;
    line-height:21px;
    margin: 0px 2px 2px 2px;
}

#Kee-optionsMenuTrigger
{
    width:21px;
    min-width:21px;
    height:21px;
    min-height:21px;
    background-color: #F4F4F4;
    border: 1px solid #ccc;
    border-radius: 2px;
    position:absolute;
    right: 10px;
    bottom:calc(50% - 10px);
    background-image: url("../common/images/menu.png");
    padding:3px;
    background-repeat:no-repeat;
    background-position:1px 1px;
    cursor: pointer;
}

#Kee-optionsMenuTrigger:hover
{
    background-color: #fff;
}

#passwordOpenButtons {
    display: flex;
    justify-content: stretch;
    justify-self: stretch;
    margin: 10px 0px;
}

#passwordOpenButtons > .password-open-item {
    position: unset;
    flex: 1 0 auto;
    display: block;
    padding: 10px 5px 10px 34px;
    background-color: #fff;
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: 1px solid #ddd;
    color: #555;
    margin: 0px 15px 0px 15px;
    max-width: calc(50% - 30px);
}

#password-open-kee-vault {
    background-image: url("../common/images/48-kee-vault.png");
}

#password-open-keepass {
    background-image: url("../common/images/48-keepass.png");
}

#passwordOpenButtons > .password-open-item:hover,
#passwordOpenButtons > .password-open-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}
