.hidden {
    display: none;
}

body {
    width: 400px;
}

#connectionStatus {
    margin-top: 5px;
}
#menu-items {
    margin-bottom: 0px !important;
}
#loading {
    margin-bottom: 0px !important;
}
#main {
    margin-bottom: 0px !important;
}
#notifications {
    position: relative;
}

#notifications > div {
    border: 1px solid #ddd;
    padding: 5px 15px 10px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #f5f5f5;
}

.close-button {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
}
