.hidden {
    display: none;
}

body {
    width: 400px;
}

#connectionStatus {
    margin-bottom: 5px;
}
#menu-items {
    margin-bottom: 0px !important;
}
#loading {
    margin-bottom: 0px !important;
}
#main {
    margin-bottom: 0px !important;
}
#notifications {
    border-top:black 2px solid;
    border-bottom:black 2px solid;
    padding: 0px 10px 10px 10px;
    margin: 5px 5px 10px 0px;
    position: relative;
}

#notifications > div {
    border-top:black 1px solid;
    margin-top: 10px;
}

#notifications > div:first-child {
    border-top: initial;
    margin-top: 0px;
}

.close-button {
    position: absolute;
    right: 0px;
    top: 2px;
    cursor: pointer;
}
